<a href="https://colab.research.google.com/github/bigdata210/Python/blob/main/python230412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 타입
- int, str, float, bool이 있음.

## int형
- 나이 입력하고 출력

In [ ]:
num_int =30
print(num_int)
print(type(num_int))

30
<class 'int'>

## float형
- 키 입력

In [ ]:
my_height=148.8
print(my_height)
print(type(my_height))

148.8
<class 'float'>

## str형
- 이름
 입력하고 출력

In [ ]:
my_name = "hanyoung"
print(my_name)
print(type(my_name))

hanyoung
<class 'str'>

## bool형 
- 논리 / 참 or 거짓

In [ ]:
x=True
y=False
z=x==y
print(type(x))
print(z)

<class 'bool'>
False

## 사칙연산

In [ ]:
x=6
y=3
print(x+y)
print(x-y)
print(x*y)
print(x/y) 
print(x%y)   #나머지
print(x//y)  #몫
print(x**y)  #제곱

9
3
18
2.0
0
2
216

In [ ]:
x=10
y=11

print(x==y)
print(x!=y)
print(x>y)
print(x<y)
print(x>=y)
print(x<=y)

False
True
False
True
False
True

## 형변환
- 데이터 타입을 변경

In [ ]:
a=input("숫자를 입력해주세요..")
print(a)
print(type(a))

숫자를 입력해주세요..5
5
<class 'str'>

In [ ]:
b=int(input("숫자를 입력해주세요.."))
print(b)
print(type(b))   
#class가 달라진다 (str -> int로 변경)

숫자를 입력해주세요..5
5
<class 'int'>

#String
-String 연산자 (+)

In [ ]:
a="소년은"
b="봄을"
c="좋아합니다."
letter = a+" "+b+" 매우 "+c
print(letter)

소년은 봄을 매우 좋아합니다.

-String 연산자 (*)

In [ ]:
x ="봄"
lyrics=x*3+" "+" 봄이~ 왔어요"
print(lyrics)

봄봄봄  봄이~ 왔어요

## 인덱싱& 슬라이싱

In [ ]:
x="Hello World!!"

# 첫번째 문제 : Hello의 알파벳 o추출
print(x[4])

# 두번째 문제 : World의 알파펫 l 추출
print(x[-4])

# 세번째 문제 : World 글자 출력
print(x[6:11])

o
l
World

In [ ]:
x="Hello World!!"
print(x[0:11:4])
print(x[:])

Hor
Hello World!!

- immutable 객체<br/>
: 변경되지 않는 객체<br/>
ex) int, float, tuple, str, bool 등

- mutable 객체<br/>
: 변경되는 객체<br/>
ex) list, set, dictionary 등

In [219]:
# x를 Aello World!!로 변경하고 싶다면?

 x[0] ='A' 
# TypeError: 'str' object does not support item assignment
# -> 이 에러는 immutable 객체라서 나옴. : 우회해서 설정해야한다.
print(x)

IndentationError: ignored

In [ ]:
x="Hello World!!"
x='A'+x[1:]
print(x)

Aello World!!

## 문자열 메서드
- 점프투 파이썬 : https://wikidocs.net/book/1

In [ ]:
sampleText = "hello, kaggle"
upper_text = sampleText.upper()
print(upper_text)

HELLO, KAGGLE

In [220]:
sampleNum = 123

upper_text =sampleNum.upper()
# AttributeError: 'int' object has no attribute 'upper'
# int 클래스안에 upper라는 메소드가 없어서 뜨는 에러
print(upper_text)

AttributeError: ignored

- python 공식 홈페이지 : https://docs.python.org/ko/3.11/index.html <br/>
  + 잘모르는 경우 python 공식 홈페이지 확인하기

In [ ]:
sampleText = "hello, kaggle"
next_text = sampleText.replace("hello","welcome")
print(next_text)

welcome, kaggle

- **str.replace(old, new[, count])**
  + Return a copy of the string with all occurrences of substring old replaced by new. If the optional argument count is given, only the first count occurrences are replaced.

In [ ]:
sampleText = "hello, kaggle"
new_text = sampleText.split(sep=",")
print(new_text)

['hello', ' kaggle']

- **str.split(sep=None, maxsplit=- 1)**
  + Return a list of the words in the string, using sep as the delimiter string. If maxsplit is given, at most maxsplit splits are done (thus, the list will have at most maxsplit+1 elements). If maxsplit is not specified or -1, then there is no limit on the number of splits (all possible splits are made).

  + If sep is given, consecutive delimiters are not grouped together and are deemed to delimit empty strings (for example, '1,,2'.split(',') returns ['1', '', '2']). The sep argument may consist of multiple characters (for example, '1<>2<>3'.split('<>') returns ['1', '2', '3']). Splitting an empty string with a specified separator returns [''].

# List(리스트)
- [변수]
- 시퀀스데이터
- 반복문 사용 가능

In [ ]:
from collections.abc import Sequence
my_num = 100
my_list = [1,2,3]
my_string = "hello"

isSeq1 = isinstance(my_num, Sequence)  
#isinstance : 객체인지 아닌지 확인
print(isSeq1)

isSeq2 = isinstance(my_list, Sequence)
print(isSeq2)

isSeq3 = isinstance(my_string, Sequence)
print(isSeq3)
# list와 string data는 sequence data 임. => 반복문 가능
# int는 sequence data가 아님 => 반복문 불가

False
<class 'int'>
True
True

- isinstance(object, classinfo)
  + Return True if the object argument is an instance of the classinfo argument, or of a (direct, indirect, or virtual) subclass thereof. If object is not an object of the given type, the function always returns False. If classinfo is a tuple of type objects (or recursively, other such tuples) or a Union Type of multiple types, return True if object is an instance of any of the types. If classinfo is not a type or tuple of types and such tuples, a TypeError exception is raised. TypeError may not be raised for an invalid type if an earlier check succeeds.

  + Changed in version 3.10: classinfo can be a Union Type.

## 인덱싱 & 슬라이싱
- 문자열 했던 것과 방식 동일

In [ ]:
a= ["가","나","다"]
print(a[0])
print(a[1])
print(a[2])
print(a[-1])

가
나
다
다

In [ ]:
# 중첩리스트 추출
a= [1,2, ["Apple",'사과','Banana','키위'],4,5,6]

# 문제 : Banana글자에서 알파벳 a(글자의 마지막) 추출
print(a[2][2][-1])

# 문제 : 사과, Banana, 키위를 추출
print(a[2][1:4])

a
['사과', 'Banana', '키위']

## 리스트 메서드 종류
- 참고: https://docs.python.org/3/tutorial/datastructures.html

### append()
- 리스트 형식으로 추가
- list.append(x)
Add an item to the end of the list. Equivalent to a[len(a):] = [x].

In [ ]:
x= ["가","나"]
texts = ["다","라","마"]
x.append(texts)
print(x)  
# 리스트 형식로 texts가 들어간다.
# 왜 리스트 형식으로 들어갈까?

['가', '나', ['다', '라', '마']]

### extend()
- 각 원소별로 추가
- Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

In [ ]:
x= ["가","나"]
texts = ["다","라","마"]
x.extend(texts)
print(x)

['가', '나', '다', '라', '마']

### insert()
- 인덱스 번호를 지정한 후, 새로운 값 추가
- Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

In [ ]:
x=["가","나","라"]
x.insert(2,"다")
print(x)

['가', '나', '다', '라']

In [ ]:
y=["가","가","다","마","바","사"]
y.insert(2,"나,다")
print(y)

['가', '가', '나,다', '다', '마', '바', '사']

리스트 값 변경<br/>
(단, string type에서는 불가함.)

In [ ]:
x=["가","나","C","라"]
x[2]="다"
print(x)

['가', '나', '다', '라']

## 리스트 값 삭제
- remove
  + Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.
- del
  + Variable references can be used to load the value of a variable, to assign a new value to it, or to delete it. Variable references are given a context to distinguish these cases.
- pop
  + Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

In [ ]:
dates = [412, 510, 531, 1014, 5057, "커피"]

#remove : list에서만 사용 가능
dates.remove(412)
print(dates)

#del : 변수에서 사용 가능
del dates[0]
print((type(dates)),dates)

#pop : 값만 추출 
#pop에서 추출된 값은 int,str 형태로 변환된다.
datep=dates.pop(-1)
print((type(datep)),datep)
print((type(dates)),dates)

[510, 531, 1014, 5057, '커피']
<class 'list'> [531, 1014, 5057, '커피']
<class 'str'> 커피
<class 'list'> [531, 1014, 5057]

# Tuple(튜플)
- (변수)
- 리스트와 같이 인덱싱 & 슬라이딩 동일
- 수정, 추가, 삭제 불가

In [ ]:
my_tuple = ("Hi", 1,2,3)
print((type(my_tuple)),my_tuple)

<class 'tuple'> ('Hi', 1, 2, 3)

In [ ]:
my_nested_tuple=("Hi",[1,2,3],(3.11,3.23,21.1))
print((type(my_nested_tuple)),my_nested_tuple)

<class 'tuple'> ('Hi', [1, 2, 3], (3.11, 3.23, 21.1))

In [ ]:
a= (1,2, ("Apple",'사과','Banana','키위'),4,5,6)
print((type(a)),a)

<class 'tuple'> (1, 2, ('Apple', '사과', 'Banana', '키위'), 4, 5, 6)

In [ ]:
#중첩리스트 추출
print(a[0:3][2][2][-1])

a

In [ ]:
# 리스트와 튜플의 차이점 
# 리스트는 수정 가능
x=["가","나","C","라"]
x[2]="다"
print(x)

# 튜플은 수정 불가
y=("가","나","C","라")
y[2]="다"
print(y)
# TypeError: 'tuple' object does not support item assignment 

dates=(412,510,521,1010)

# 튜플은 제거 불가 
dates.remove[0]
print(dates)
# AttributeError: 'tuple' object has no attribute 'remove'

# 튜플은 삭제 불가
del dates[0]
print(dates)
# TypeError: 'tuple' object doesn't support item deletion

['가', '나', '다', '라']
('가', '나', 'C', '라')

AttributeError: ignored

In [ ]:
my_tuple=("가","가","나","나","나","다","라")

#"나"의 갯수
print(my_tuple.count("나"))

#"라"가 나오는 자리의 값
print(my_tuple.index("라"))

#"나"가 처음나오는 자리의 값
print(my_tuple.index("나"))

3
2
6

# Dictionary (딕셔너리)
- {"key":"values"}

In [ ]:
my_dic = {
    "name": "hanyoung",
    "age": 30,
    "job": "데이터 분석가, 개발자",
    "shopping": [1,2,3]
}
print(my_dic)

# 문제: 태어난 도시를 추가하세요. 
my_dic["city"]="Busan"
print(my_dic)

# 값 수정
my_dic["shopping"]="가방"
print(my_dic)

# 값 제거
# key를 제거하면 value 값도 제거됨.
del my_dic["shopping"]

{'name': 'hanyoung', 'age': 30, 'job': '데이터 분석가, 개발자', 'shopping': [1, 2, 3]}
{'name': 'hanyoung', 'age': 30, 'job': '데이터 분석가, 개발자', 'shopping': [1, 2, 3], 'city': 'Busan'}
{'name': 'hanyoung', 'age': 30, 'job': '데이터 분석가, 개발자', 'shopping': '가방', 'city': 'Busan'}

In [ ]:
# 각각 data 뽑기
print(my_dic.keys())
print(my_dic.values())
# keys와 values는 list 형태로 저장되어 있다.

dict_keys(['name', 'age', 'job', 'city'])
dict_values(['hanyoung', 30, '데이터 분석가, 개발자', 'Busan'])

In [ ]:
print(my_dic.items())
# items는 list 형태 안에 tuple 형태로 저장되어 있다. (복잡하다.)

dict_items([('name', 'hanyoung'), ('age', 30), ('job', '데이터 분석가, 개발자'), ('city', 'Busan')])

In [ ]:
# data값에 접근하기 위해서는 tuple형태를 list로 변환 후 들어가야 함.
result = list(my_dic.items())
result[0][1]

'hanyoung'

In [ ]:
for i in my_dic:
  print(i)          # 인덱스 번호로 할당X , key 값으로 할당
  print(my_dic[i])  # value 값으로 할당

name
hanyoung
age
30
job
데이터 분석가, 개발자
city
Busan

# 조건문
- if-else, if문 작성 시 조건 => True

In [ ]:
a=30
b=31
if a >= b:
  print("a가 크다")
else:
  print("b가 크다")

b가 크다

In [ ]:
a=31
b=31

if a > b:
  print("a가 크다.")
elif a == b:
  print("a와 b가 같다.")
else: 
  print("b가 크다.")

a와 b가 같다.

In [185]:
# 임의의 숫자만 입력(1~100) 할 때, 조건문을 완성하라.
# 90점 이상: A, 80점 이상: B, 나머지: C

score=int(input("점수를 입력하세요.: "))
if score >= 90:
  print("당신의 학점은 A입니다.")
elif score >= 80:
  print("당신의 학점은 B입니다.")
else:
  print("당신의 학점은 C입니다.")

점수를 입력하세요.: 88
당신의 학점은 B입니다.

In [187]:
# 조건문 한줄 작성
a = 38
b = 30
result = "a가 b보다 크거나 같다" if a >= b else "b가 a보다 작다"
print(result)

a가 b보다 크거나 같다

# 반복문
- 반복문을 쓰는 이유?<br/>
: 여러번 반복할 일을 줄이기 위해서

## For Loop

In [188]:
# 과제 hello world를 10번 출력
for i in range(10):
  print("Hello World")

Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World
Hello World

In [193]:
programming =["파이썬", "HTML","CSS","JAVA"]

# 리스트가 각각 추출됨 => sequence data이기 때문에 가능 
for idx in programming:
  print(idx)
else: 
  print("반복문 종료")

파이썬
HTML
CSS
JAVA
반복문 종료

In [221]:
my_string="파이썬"
my_num=1
for idx in my_string:
  print(idx)

for idx in my_num:
  print(idx)
# TypeError: 'int' object is not iterable
# -> int형은 sequence data가 아니기 때문에 반복문 불가

파
이
썬

TypeError: ignored

In [196]:
# 한번에 for문 작성
programming = ["파이썬","HTML","CSS","JAVA"]
for idx, item in enumerate(programming):
  print(idx, item)

0 파이썬
1 HTML
2 CSS
3 JAVA

In [201]:
#zip으로 묶어서 반복문 사용 가능
total_sales = [1000, 2000, 3000]
prices = [2.5, 3.3, 1.9]

for sales, price in zip(total_sales, prices):
  revenue = sales * price
  print(revenue)

2500.0
6600.0
5700.0

In [203]:
# 갯수가 맞지 않을 경우, 마지막 4000은 제외 후 출력됨.
total_sales = [1000, 2000, 3000,4000]
prices = [2.5, 3.3, 1.9]

for sales, price in zip(total_sales, prices):
  revenue = sales * price
  print(sales, price, revenue)

1000 2.5 2500.0
2000 3.3 6600.0
3000 1.9 5700.0

## While Loop
- for문과 while문의 차이점?
  + for문: 반복문을 해야하는 범위가 주어짐. 범위가 완료되면 반복문 종료.
  + while문: 조건이 True이면 계속 돌게 됨. 조건이 False일 때 반복문 종료.

In [204]:
for i in range(1,4):   # range(1,4): 범위
  print(i)

1
2
3

In [206]:
i=1
while i <= 3:       # i<=3 : 조건 
  print(i)
  i+=1

1
2
3

In [218]:
#문제
print("[결과]")
username = input("사용자 이름을 입력해주세요!")
password = ""

while password != "A":
  print("정확한 비밀번호를 입력해주세요!")
  password = input("비밀번호를 입력해주세요!")

print(f"{username}님 환영합니다.")

#사용자 이름을 입력해주세요! 입력값
#정확한 비밀번호를 입력해주세요! 
#비밀번호를 입력해주세요! 입력값

[결과]
사용자 이름을 입력해주세요!이한영
정확한 비밀번호를 입력해주세요!
비밀번호를 입력해주세요!A
이한영님 환영합니다.